__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development
.env
.env.local

# Docker
.docker/

# Windows Zone.Identifier files
*:Zone.Identifier
*:Zone.Identifier:Zone.Identifier

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
.terraformrc
terraform.rc

# Ignore Mac system files
.DS_Store
__MACOSX

# Ignore database files
*.sqlite3
*.db

# Ignore sensitive keys
*.pem

.terraform/
*.zip

