__pycache__/
*.pyc
*.log
.env
.terraform/
*.tfstate
*.tfstate.backup
.idea/
.vscode/
*.pem
.grafana/
node_modules/


# Ignore Mac system files
.DS_Store
__MACOSX

# Ignore database files
*.sqlite3
*.db

# Ignore Terraform files
.terraform/
*.tfstate
*.tfstate.backup

# Ignore sensitive keys
*.pem

.terraform/
*.zip

